ColumnLimit: 0 # Let me make my own line-breaking decisions.
ReflowComments: false
WhitespaceSensitiveMacros: ['XSTR']
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AllowShortIfStatementsOnASingleLine: true # Dependent on the value, if (a) return; can be put on a single line.
AllowShortCaseLabelsOnASingleLine: true
